
# Pastas da IDE
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Pastas de build
bin/
obj/
out/
Debug/
Release/

# Arquivos temporários
*.log
*.tmp
*.bak
*.cache
*.db
*.pid

# Arquivos do Visual Studio Code
.vscode/

# Arquivos de configuração que não devem ser versionados
appsettings.json
appsettings.*.json

# Sistema operacional
.DS_Store
Thumbs.db

# OneDrive
*.tmp.driveupload

# Arquivos de indexação do Visual Studio
*.vsidx
*.VC.db

# Arquivos específicos
/viaggia-server/.vs/
/viaggia-server/bin/
/viaggia-server/obj/
/viaggia-server/appsettings.json
/viaggia-server/appsettings.*.json
/viaggia-server/appsettings.Development.json
/viaggia-server/Migrations/

/viaggia-server/wwwroot/Uploads/Packages/2d7ba84b-02ed-4a3e-9449-434a60982811.jpg
/viaggia-server/wwwroot/Uploads/Packages/99427ba9-297a-455f-a7f1-cd97aa54f531.jpg
/viaggia-server/wwwroot/Uploads/Packages/9f97bcc3-148a-4e00-980c-b523476c3e36.jpg
/viaggia-server/wwwroot/Uploads/Packages/b50a06b2-ffa7-4d52-ac8a-8565208cb598.jpg
/viaggia-server/wwwroot/Uploads/Packages/c2e2fdf4-14e3-4fee-a04a-a537a9a6177c.jpg
/viaggia-server/appsettings.Development.json
/viaggia-server/wwwroot/Uploads/Packages/243e1241-c007-4f8d-a33b-b832ccab1948.jpg
/viaggia-server/wwwroot/Uploads/Packages/5b14c3fe-7276-44ed-82eb-c26a5c61a051.jpg
