
# Pastas da IDE
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Pastas de build
bin/
obj/
out/
Debug/
Release/



# Arquivos temporários
*.log
*.tmp
*.bak
*.cache
*.db
*.pid

# Arquivos do Visual Studio Code
.vscode/

# Arquivos de configuração que não devem ser versionados
appsettings.json
appsettings.*.json

# Sistema operacional
.DS_Store
Thumbs.db

# OneDrive
*.tmp.driveupload

# Arquivos de indexação do Visual Studio
*.vsidx
*.VC.db

# Arquivos específicos
/viaggia-server/.vs/
/viaggia-server/bin/
/viaggia-server/obj/
/viaggia-server/appsettings.json
/viaggia-server/appsettings.*.json
/viaggia-server/appsettings.Development.json
/viaggia-server/Migrations/
viaggia-server.tests/bin/
viaggia-server.tests/obj/
